/TeamCode/build
/FtcRobotController/build
.gradle/8.9
.gradle/buildOutputCleanup
.gradle/file-system.probe
.idea/caches/deviceStreaming.xml
local.properties
.gradle/config.properties
local.properties
local.properties
README.md
.gradle/config.properties
.idea/deploymentTargetSelector.xml
.idea/misc.xml
